.home {
    padding: 20px 70px;
    background-color: var(--bgSoft);
  }
  
  @media (max-width: 768px) {
    .home {
      padding: 10px;
    }
  }
  
  @media (max-width: 1024px) {
    .home {
      padding: 20px;
    }
  }
  